<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Connect With Car</title>
</head>
<body>
    <div class="landing-container">
        <h1>Welcome to Car Connect</h1>
        <p><b>Connecting car owners with carowners for a smooth car trading experience.</b></p>
        <button id="signupButton" class="button">Sign Up</button>
        <button id="loginButton" class="button">Login</button>
    </div>
    <script src="/static/index.js"></script>
</body>
</html>
